# Merging all the dataframes into one
---

# TODO:
- **1. Read files from directory**
- 1.1 Read flights
- 1.2 Read passengers
- 1.3 Read fuel consumption
- **2. Identify keys and merge**

In [1]:
# imports numpy and pandas
import pandas as pd
import numpy as np

### Flights Dataset
---

In [2]:
# Data Path
Data = "C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/Flights_jan_clean1.csv"

In [3]:
Flights = pd.read_csv(Data, low_memory=False)

In [4]:
Flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'cancellation_code', 'diverted', 'dup',
       'air_time', 'flights', 'distance', 'carrier_delay', 'weather_delay',
       'nas_delay', 'security_delay', 'late_aircraft_delay', 'Total_delay'],
      dtype='object')

In [5]:
Flights['fl_date'] = pd.to_datetime(Flights['fl_date'])

In [6]:
Flights['day'] = Flights['fl_date'].dt.day
Flights['month'] = Flights['fl_date'].dt.month
Flights['year'] = Flights['fl_date'].dt.year

In [7]:
# Data Path
Data = 'C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/passenger_clean.csv'

In [8]:
Passenger = pd.read_csv(Data, low_memory=False)

In [9]:
Passenger.columns

Index(['departures_scheduled', 'departures_performed', 'payload', 'seats',
       'passengers', 'freight', 'mail', 'ramp_to_ramp', 'air_time',
       'unique_carrier', 'airline_id', 'region', 'carrier', 'carrier_name',
       'carrier_group', 'carrier_group_new', 'origin_airport_id', 'origin',
       'origin_country', 'dest_airport_id', 'dest', 'dest_country',
       'aircraft_group', 'aircraft_type', 'aircraft_config', 'year', 'month',
       'distance_group', 'class', 'data_source'],
      dtype='object')

In [10]:
# Data Path
Data = 'C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/fuel_consumption_clean.csv'

In [11]:
Fuel_consumption = pd.read_csv(Data, low_memory=False)

### Fuel and Passengers
---

In [12]:
common_columns = set(Flights.columns).intersection(Passenger.columns)
print(common_columns)

{'air_time', 'dest', 'origin_airport_id', 'year', 'origin', 'dest_airport_id', 'month'}

In [13]:
common_columns = set(Passenger.columns).intersection(Fuel_consumption.columns)
print(common_columns)

{'carrier', 'carrier_name', 'unique_carrier', 'year', 'carrier_group_new', 'month', 'airline_id'}

In [14]:
Flights['op_unique_carrier'].unique()

array(['B6', 'HA', 'NK', 'OH', 'YX', 'AA', 'AX', 'PT', 'G7', 'CP', '9E',
       'EV', 'F9', 'MQ', 'WN', 'VX', 'YV', 'ZW', 'UA', '9K', 'C5', 'AS',
       'G4', 'OO', 'DL', 'QX', 'KS', 'EM'], dtype=object)

In [15]:
Passenger['unique_carrier'].unique()

array(['U7', 'X9', 'IFQ', '0QQ', '2GQ', 'ADB', 'CC', 'MP', 'LV', 'S4',
       '10Q', '15Q', '24Q', '5D', '8R', 'BF', 'J2', 'NH', 'OR', 'PD',
       'PEQ', 'PS', 'PY', 'QK', 'QR', 'R0', 'RJ', 'RU', 'RV', 'SK', 'SN',
       'SV', 'SVW', 'TA', 'TN', 'TP', 'TQQ', 'TS', 'UX', 'VA', 'VB', 'W8',
       'VIQ', 'VR', 'XL', 'BY', 'JL', 'JD', 'AC', 'KL', '5Y', 'MT', 'YX',
       '2UQ', 'AI', 'BA', 'BR', 'CI', '3AQ', 'AA', '7S', '8C', 'WS', '8V',
       '9E', 'ABX', 'AMQ', 'AS', 'AX', 'B6', 'G4', 'G7', 'GFQ', 'GL',
       'HA', 'HBQ', 'K3', 'KAH', 'KAQ', 'KD', 'KH', 'KLQ', 'KS', 'L2',
       'LF', 'WN', 'N8', 'TK', 'TR', 'Y4', 'DI', 'BX', 'CK', 'KV', 'MS',
       '1YQ', '3EQ', 'AN', 'SY', '3SD', 'AR', 'D7', 'GEQ', '27Q', '2LQ',
       '4B', 'CP', 'DL', 'NEW', 'QX', '1UQ', '3S', '3U', 'AZ', 'CAZ',
       'EY', 'FJ', 'IB', 'JQ', 'M7', 'KU', '4O', 'AT', 'CM', 'MU', 'EM',
       '0UQ', 'CRV', 'EK', '04Q', 'AD', 'CA', 'CV', 'HU', 'L7', 'LA',
       'LO', 'LP', 'LXQ', 'UA', '7C', '0CQ', 'ET', 'LY', 'KO', 'MQ', 'YV',
       'Z3Q', 'PFQ', 'PO', '1XQ', '2KQ', 'E7', 'HYP', '1TQ', '8E', 'KAT',
       'GV', 'J5', 'WG', 'ZX', 'LJ', '12Q', '2OQ', '4C', '4M', 'AV', 'JJ',
       'LR', 'M3', '4W', '0J', '2RQ', '13Q', '14Q', 'EQ', 'QY', 'VJT',
       'DY', 'KE', 'LH', 'LX', '2E', '2O', '3F', '5V', '7H', 'F9', 'KX',
       'HX', '2AQ', 'AY', 'B0', 'KQ', 'MF', 'SE', '02Q', 'G3', 'GCQ',
       'GU', 'HY', 'IG', 'JU', 'KZ', 'LS', 'AF', 'AM', 'BW', 'EI', '0WQ',
       '1AQ', '1BQ', '1EQ', '1SQ', '1WQ', '34Q', '3M', 'K2', 'NC', 'Q5',
       'SNK', 'Z3', 'EW', '9S', 'FI', 'H6', 'MW', '9K', 'BCQ', 'DHQ',
       'D8', '17Q', '7L', 'OS', 'OZ', 'PR', 'Q6', 'SA', 'SQ', 'UO', 'UP',
       'VH', 'X7', 'Y8', 'SEB', 'YR', 'C8', 'CZ', 'I4', 'X4', 'DE', 'PM',
       'BC', 'XP', '36Q', 'QF', '2TQ', 'WL', 'CX', 'V8', 'FX', '26Q',
       'QT', '0Q', '6R', 'NQ', 'SU', 'WI', '1ZQ', 'LDQ', '0BQ', '22Q',
       '9V', 'JVQ', 'TEQ', '37Q', 'VS', '5C', 'WGT', '09Q', 'PH', '3E',
       'NLQ', 'NZ', '25Q', 'R3', '5J', 'O6', 'P3', '1HQ', 'KFQ', 'FP',
       'FYQ', 'PP', '38Q', 'EAU', '07Q', 'AAT', 'LDM', 'NK', '1LQ', 'WW',
       'ZW', 'M6', 'OH', '2HQ', 'C5', 'PT', 'CH', '5X', 'EV', '9X', 'OO',
       '3DQ', 'VI', 'ELL', 'RVQ', '2EQ', '3BQ', 'WST', 'GCH', '1QQ',
       'WRD', 'A0', 'OJ', 'TB', 'ZK', '28Q', 'AJQ', 'VW', 'VX', '30Q',
       'PF', '2F', 'PBQ', '2JQ', '1PQ'], dtype=object)

In [16]:
Fuel_consumption['unique_carrier'].unique()

array(['09Q', '0WQ', '1BQ', '27Q', '2HQ', '3EQ', '5V', '5X', '5Y', '8C',
       '9E', '9S', 'AA', 'ABX', 'AS', 'B6', 'CP', 'DL', 'EV', 'F9', 'FX',
       'G4', 'G7', 'GFQ', 'GL', 'HA', 'KAQ', 'KD', 'KH', 'KLQ', 'L2',
       'M6', 'MQ', 'N8', 'NC', 'NK', 'OH', 'OO', 'PFQ', 'PO', 'QX', 'U7',
       'UA', 'WI', 'WL', 'X9', 'XP', 'YV', 'YX', 'WN', 'SY'], dtype=object)

In [17]:
merged_df1 = pd.merge(Flights, Passenger, left_on=['dest_airport_id', 'origin_airport_id', 'month', 'year','op_unique_carrier'],
                     right_on=['dest_airport_id', 'origin_airport_id', 'month', 'year','unique_carrier'])

In [18]:
merged_df1

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin_x,...,origin_y,origin_country,dest_y,dest_country,aircraft_group,aircraft_type,aircraft_config,distance_group,class,data_source
0,2018-01-01,B6,B6,B6,2431,B6,N192JB,2431,10994,CHS,...,CHS,US,FLL,US,6,678,1,1,F,DU
1,2018-01-02,B6,B6,B6,2431,B6,N247JB,2431,10994,CHS,...,CHS,US,FLL,US,6,678,1,1,F,DU
2,2018-01-09,B6,B6,B6,1131,B6,N324JB,1131,10994,CHS,...,CHS,US,FLL,US,6,678,1,1,F,DU
3,2018-01-10,B6,B6,B6,1131,B6,N197JB,1131,10994,CHS,...,CHS,US,FLL,US,6,678,1,1,F,DU
4,2018-01-11,B6,B6,B6,1131,B6,N354JB,1131,10994,CHS,...,CHS,US,FLL,US,6,678,1,1,F,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043743,2019-01-31,UA,UA,UA,1999,UA,N899UA,1999,12266,IAH,...,IAH,US,SAV,US,6,698,1,2,F,DU
3043744,2019-01-31,UA,UA,UA,1577,UA,N17753,1577,12266,IAH,...,IAH,US,ABQ,US,6,612,1,2,F,DU
3043745,2019-01-31,UA,UA,UA,1401,UA,N845UA,1401,12266,IAH,...,IAH,US,DTW,US,6,698,1,3,F,DU
3043746,2018-01-01,DL,DL_CODESHARE,DL,3472,9E,N932XJ,3472,12339,IND,...,IND,US,RSW,US,6,638,1,2,F,DU
3043747,2018-01-01,DL,DL_CODESHARE,DL,3472,9E,N932XJ,3472,14635,RSW,...,RSW,US,IND,US,6,638,1,2,F,DU

### Final dataset
---

In [19]:
merged_df = pd.merge(merged_df1, Fuel_consumption, on=['airline_id', 'carrier_name', 'carrier', 'unique_carrier', 'month', 'year'])

In [20]:
merged_df

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin_x,...,dest_country,aircraft_group,aircraft_type,aircraft_config,distance_group,class,data_source,carrier_group_new_y,total_gallons,total_cost
0,2018-01-01,B6,B6,B6,2431,B6,N192JB,2431,10994,CHS,...,US,6,678,1,1,F,DU,3,66886288.0,142022199
1,2018-01-02,B6,B6,B6,2431,B6,N247JB,2431,10994,CHS,...,US,6,678,1,1,F,DU,3,66886288.0,142022199
2,2018-01-09,B6,B6,B6,1131,B6,N324JB,1131,10994,CHS,...,US,6,678,1,1,F,DU,3,66886288.0,142022199
3,2018-01-10,B6,B6,B6,1131,B6,N197JB,1131,10994,CHS,...,US,6,678,1,1,F,DU,3,66886288.0,142022199
4,2018-01-11,B6,B6,B6,1131,B6,N354JB,1131,10994,CHS,...,US,6,678,1,1,F,DU,3,66886288.0,142022199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2974079,2019-01-30,UA,UA,UA,696,UA,N27246,696,12266,IAH,...,US,6,614,1,1,F,DU,3,270112946.0,500710455
2974080,2019-01-30,UA,UA,UA,435,UA,N27246,435,10781,BTR,...,US,6,614,1,2,F,DU,3,270112946.0,500710455
2974081,2019-01-31,UA,UA,UA,1999,UA,N899UA,1999,12266,IAH,...,US,6,698,1,2,F,DU,3,270112946.0,500710455
2974082,2019-01-31,UA,UA,UA,1577,UA,N17753,1577,12266,IAH,...,US,6,612,1,2,F,DU,3,270112946.0,500710455
2974083,2019-01-31,UA,UA,UA,1401,UA,N845UA,1401,12266,IAH,...,US,6,698,1,3,F,DU,3,270112946.0,500710455

In [21]:
# Saving the DataFrame as a CSV file
merged_df.to_csv('C:/Users/patel/lighthouse-lab-allprojects/Mid-Project-Data/merged1.csv', index=False)